body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.seagull {
    height: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 5px 300px;
    padding-bottom: 150px;

}

.first-links {
    display: flex;
    justify-content: end;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

.second {
    display: flex;
    justify-content: space-between;
    padding: 5px 300px;
    background-color: #1F2937;
    padding-bottom: 150px;
}

.second-text {
    color: #e5e7eb;
    font-size: 18px;
}

h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 12px;
}

.third {
    padding: 5px 300px;
    padding-bottom: 150px;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.img-with-text {
    display: flex;
    justify-content: center;
    gap: 55px;
    align-items: center;
}

.info-img1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
    height: 300px;
    width: 200px;
}

.info-img2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
    height: 300px;
    width: 200px;
}

.info-img3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
    height: 300px;
    width: 200px;
}

.info-img4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
    height: 300px;
    width: 200px;
}

.text-under {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.fourth {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 5px 300px;
    padding-bottom: 150px;
    padding-top: 36px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.signature {
    text-align: right;
}

.fifth {
    padding: 5px 300px;
    padding-bottom: 150px;
    padding-top: 36px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 10px 100px;
    border-radius: 7px;
    height: 200px;
}

#second-button {
    border: white;
    border-style: solid;
}

.text .bold-text {
    font-weight: 700;
    font-size: 36px;
    color: #f9faf8;
    padding-bottom: 10px;
}

.text .text-under-bold {
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #1F2937;
    color: #e5e7eb;
}